[submodule "Skills/ops-doc-maintainer"]
	path = Skills/ops-doc-maintainer
	url = https://github.com/JasonJarvan/ops-doc-maintainer.git
[submodule "Skills/cc-relocate-project"]
	path = Skills/cc-relocate-project
	url = https://github.com/JasonJarvan/cc-relocate-project.git
[submodule "Tools/gstack"]
	path = Tools/gstack
	url = https://github.com/garrytan/gstack
[submodule "Tools/claude-hud"]
	path = Tools/claude-hud
	url = https://github.com/JasonJarvan/claude-hud
[submodule "CodeTeam"]
	path = CodeTeam
	url = https://github.com/JasonJarvan/CodeTeam.git
