[submodule "Skills/ops-doc-maintainer"]
	path = Skills/maintain/ops-doc-maintainer
	url = https://github.com/JasonJarvan/ops-doc-maintainer.git
[submodule "Skills/cc-relocate-project"]
	path = Skills/maintain/cc-relocate-project
	url = https://github.com/JasonJarvan/cc-relocate-project.git
[submodule "Tools/Agent/claude-hud"]
	path = Tools/utils/claude-hud
	url = https://github.com/JasonJarvan/claude-hud
[submodule "Tools/CodeTeam"]
	path = Tools/CodeTeam
	url = https://github.com/JasonJarvan/CodeTeam.git
[submodule "Tools/JarvanKB"]
	path = Tools/JarvanKB
	url = https://github.com/JasonJarvan/JarvanKB.git
[submodule "Skills/interviewer-designer"]
	path = Skills/product/interviewer-designer
	url = https://github.com/JasonJarvan/interviewer-designer.git
[submodule "Skills/maintain/edge-sidebar-history-migration-skill"]
	path = Skills/maintain/edge-sidebar-history-migration-skill
	url = https://github.com/JarvanAI/edge-sidebar-history-migration-skill.git
